/* Purple background for task title on confirm */
.task-title-confirm {
    background: purple;
    color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 15px;
}

/* Red background for error components */
.crud-error {
    background: red;
    color: white;
}

@import "bootstrap/dist/css/bootstrap.min.css"