.done-status { background: cyan }

.to-do {background: orange}
.blocked {background: red}
.in-progress {background: yellow}
.in-review { background: peru;}
.in-peer-review {background: pink;}
.deployed {background: rebeccapurple;}
.done {background: green;}


@import "bootstrap/dist/css/bootstrap.min.css"